// CSS
@import '../../mixins.scss';
.footer {
  background-color: #1c1b1b;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.559);
  position: relative;
  .contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .links {
    display: flex;
    width: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
    li {
      list-style-type: none;
      padding: 0 10px;
      font-size: 30px;
      a {
        color: #aba2a2;
        &:hover {
          color: #cec7c7;
        }
      }
    }
  }
}
